*{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}

:root {
    --dark-blue: #1E2939;
    --white: #F5F7FA;
    --black: #000000;
    --grey: #595959;
    --orange: #FB6D3A;
    --light-grey: #A8A8A8;
}

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    background-color: var(--white);
}

/* main styles */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    width: 100%;
}

/****** main content styles ******/
.main-content {
    background-color: var(--white);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 40px 50px 20px 40px;
}

/* about me styles */
.about {
    margin-bottom: 20px;
    
}

.about h1, .experience h3, .experience li, .experience h4, .experience h4 span, .experience h5, .sidebar-title, .contact-type {
    font-weight: 700;
}

.experience span, .experience p, .experience p span, .contact-details, .skills-list span {
    font-weight: 400;
}


/* Replace on p????? */
.subtitle {
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    line-height: 17px;
    color: var(--black);
    margin-bottom: 10px;
}

.about h1 {
    font-size: 34px;
    line-height: 45px;
    color: var(--black);
    margin-bottom: 10px;
}

.summary {
    text-align: justify;
    font-size: 14px;
}

/* experience and education styles */

.experience {
    margin-bottom: 15px;
}

.experience h3,
.education h3,
.sidebar-title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

/* projects, work and education title styles */
.experience h3
, .education h3 {
    color: var(--black);
}


/* styles for ordered and unordered lists */
.experience ol, .experience ul,
.education ul {
    margin-left: 15px;
}

.experience ul,
.education ul {
    list-style: square;
    margin-bottom: 20px;
}

.experience li, .experience span, .experience h5, 
.education span, .education h5, .education li,
.contact-type, .contact-details, .skills-list span {
    font-size: 14px;
    line-height: 18px;
}

.experience li {
    color: var(--black);
    padding-left: 10px;
}

.experience span,
.education span {
    color: var(--grey);
}

.experience h4, .experience h4 span,
.education h4, .education h4 span {
    font-size: 16px;
    line-height: 20px;
}

.experience p, .experience p span,
.education p, .education p span {
    font-size: 12px;
    line-height: 12px;
}

.experience h4,
.education h4 {
    color: var(--black);
    margin-bottom: 5px;
}

.experience h4 span,
.education h4 span {
    color: var(--orange);
}

.experience h5,
.education h5 {
    line-height: 17px;
    color: var(--black);
    margin-bottom: 5px;
}

.experience p,
.education p {
    color: var(--light-grey);
    margin-bottom: 10px;
}

.experience p span,
.education p span {
    color: var(--black);
}


/****** sidebar styles ******/
.sidebar {
    background-color: var(--dark-blue);
    border-right-style: solid;
    padding-top: 150px;
    width: 350px;
}
/* aside content styles */
.sidebar-content {
    margin: 45px 10px 45px 40px;
}

/* Sidebar title styles*/
.sidebar-title {
    color: var(--white);
}

/* Contacts styles */
.contact-type {
    color: var(--white);
    margin-right: 10px;
}

.contact-details {
    color: var(--light-grey);
}

/* Tech and Soft skills styles for tag ul */
.skills-list {
    color: var(--white);
    margin-left: 17px;
}

/* Tech and Soft skills styles for tag li */
.skills-list li {
    color: var(--orange);
}

/* Tech and Soft skills styles for tag span */
.skills-list span {
    color: var(--white);
}

/* @media print {
    main {
        width: 1000px;
    }

    .main-content {
        padding-left: 70px;
        padding-right: 70px;
        box-shadow: inherit;
    }

    .sidebar {
        width: 270px;
    }
} */

@media only screen and (max-width:767px) {
    /* main styles */
        main {
            display: block;
            width: 100%;
        }
        
        .main-content {
            background-color: var(--white);
            padding: 15px 10px;
        }

        .sidebar {
            background-color: var(--dark-blue);
            padding-top: 20px;
            padding-bottom: 30px;
            width: 100%;
        }
}