* {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}

:root {
    --dark-blue: #1E2939;
    --white: #F5F7FA;
    --black: #000000;
    --grey: #595959;
    --orange: #FB6D3A;
    --light-grey: #A8A8A8;
}

html, body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    background-color: var(--white);
    font-size: 14px;
}

/* main styles */
main {
    width: 210mm;
    min-height: 297mm;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

/****** main content styles ******/
.main-content {
    background-color: var(--white);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
}

/* about me styles */
.about, .frontend, .experience {
    margin-bottom: 20px;
}

.about h1, .experience h3, .experience li, .experience h4, .experience h4 span, .experience h5, .sidebar-title, .contact-type {
    font-weight: 700;
}

.experience span, .experience p, .experience p span, .contact-details, .skills-list span {
    font-weight: 400;
}

.subtitle {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: var(--black);
    margin-bottom: 7px;
}

.about h1 {
    font-size: 20px;
    line-height: 34px;
    color: var(--black);
}

.summary {
    text-align: justify;
    font-size: 12px;
}

.project {
    margin-bottom: 7px;
}

/* experience and education styles */
.frontend h3,
.experience h3,
.education h3,
.sidebar-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;
}

/* projects, work and education title styles */
.frontend h3,
.experience h3,
.education h3 {
    color: var(--black);
}


/* styles for ordered and unordered lists */
.frontend ul, .experience ol, .experience ul,
.education ul {
    margin-left: 15px;
    margin-bottom: 0;
}

.frontend ul,
.experience ul,
.education ul {
    list-style: square;
    /* margin-bottom: 20px; */
}

.frontend li, .experience li, .experience span, .experience h5, 
.education span, .education h5, .education li,
.contact-type, .contact-details, .skills-list span {
    font-size: 12px;
    line-height: 14px;
}

.frontend li,
.experience li {
    color: var(--black);
}

.frontend span,
.experience span,
.education span {
    color: var(--grey);
}

.frontend h4, .experience h4, .experience h4 span,
.education h4, .education h4 span {
    font-size: 16px;
    line-height: 18px;
}

.experience p, .experience p span,
.education p, .education p span {
    font-size: 12px;
    line-height: 12px;
}

.frontend h4,
.experience h4,
.education h4 {
    color: var(--black);
    margin-bottom: 5px;
}

.frontend h4 a, .frontend h4,
.experience h4 span,
.education h4 span {
    color: var(--orange);
}

.frontend h5,
.experience h5,
.education h5 {
    line-height: 16px;
    color: var(--black);
    margin-bottom: 5px;
}

.challenges {
    margin-top: 10px;
}

.challenges h5 {
    margin-bottom: 0;
}

.education h5 span {
    color: var(--grey);
}

.experience p,
.education p {
    color: var(--light-grey);
    margin-bottom: 5px;
}

.experience p span,
.education p span {
    color: var(--black);
}


/****** sidebar styles ******/
.sidebar {
    background-color: var(--dark-blue);
    border-right-style: solid;
    padding-top: 75px;
    width: 210px;
}
/* aside content styles */
.sidebar-content {
    margin: 45px 10px 45px 40px;
}

/* Sidebar title styles*/
.sidebar-title {
    color: var(--white);
}

/* Contacts styles */
.contact-type {
    color: var(--white);
    margin-right: 10px;
}

.contact-details {
    color: var(--light-grey);
}

/* Tech and Soft skills styles for tag ul */
.skills-list {
    color: var(--white);
    margin-left: 17px;
}

/* Tech and Soft skills styles for tag li */
.skills-list li {
    color: var(--orange);
}

/* Tech and Soft skills styles for tag span */
.skills-list span {
    color: var(--white);
}

a {
   text-decoration: none; 
}

.education a {
    /* text-decoration: none; */
    color: var(--grey);
    text-decoration: underline;
    font-weight: 400;
}

/* Print settings */
@page {
  size: A4;
  margin: 0;
}

@media print{
    html, body {
      width: 210mm;
      height: 297mm;
      background-color: none;
      padding: 0;
      margin: 0;
  }

  main {
    page-break-after: auto;
  }

  .main-content {
    box-shadow: none;
  }
}