*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --lightgray: #F9FAFF;
    --yellow: #FDC435;
    --white: #FFFFFF;
    --grey: #828282;
    --black: black;
    --blue-grey: #deebf7;
    --blue: blue;
}

html, body {
    font-family: 'Playfair Display', 'Arial', 'sans-serif';
    font-size: 1.2vw;
    width: 100%;
    height: 100%;
    background-color: var(--lightgray);
}

.header {
    position: absolute;
    width: 100%;
    padding: 0.6em 6.2em 0 6.7em;
    font-family: 'Comfortaa';
    font-size: 1.04em;
    font-weight: 500;
    line-height: 180%;
}

.header p {
    font-family: 'Comfortaa';
    float: left;
}

.navigation {
    font-family: 'Raleway';
    float: right;
}

.nav-buttons, .line {
    display: flex;
    flex-direction: row;
    gap: 1.7em;
}
.line {
    justify-content: space-between;
    padding: 0 0.5em;
}

a {
    color: var(--black);
    text-decoration: none;
}

.nav-buttons a {
    padding: 0.03em 0.5em;
}

.active {
    height: 0.1em;
    width: 2.9em;
    background: var(--black);
}

.default {
    height: 0.1em;
    width: 4em;
}

.intro {
    padding: 5.2em 6.6em 7.4em 6.9em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about {
    flex-basis: 55%;
    flex-grow: 1;
    flex-shrink: 1;
}

.details {
    padding-right: 4.3em;
}

h2 {
    font-size: 2.78em;
    font-weight: 700;
}

.details p {
    margin: 1.5em 0 1.2em 0;
    font-family: 'Nunito';
    font-size: 1.41em;
    line-height: 148%;
    color: var(--grey);
    font-weight: 300;
}

button {
    font-family: 'Roboto';
    font-size: 1.05em;
    padding: 0.5em 1.2em 0.5em 1.2em;
    font-weight: 400;
    border-style: solid;
    border-radius: 0.4em;
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.my-photo {
    flex-basis: 45%;
    flex-grow: 1;
    flex-shrink: 1;
}

.photo {
    width: 100%;
}

.footer {
    text-align: center;
    font-family: 'Nunito';
}

.bi-linkedin::before {
    color: black;
    font-size: 2.3em;
}

.footer p {
    margin-top: 2.3em;
    margin-bottom: 5em;
    font-size: 0.9em;
    font-weight: 600;
    color: var(--grey);
}


a:hover {
    border-radius: 0.3em;
    background-color: rgba(252, 196, 54, 0.4);

}