*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --lightgray: #F9FAFF;
    --yellow: #FDC435;
    --white: #FFFFFF;
    --grey: #828282;
    --black: black;
    --blue-grey: #deebf7;
    --transparent-grey: rgb(255, 255, 255, 0.4);
    --transparent-yellow: rgba(252, 196, 54, 0.4);
}

html, body {
    font-family: 'Playfair Display', 'Arial', 'sans-serif';
    font-size: 1.2vw;
    width: 100%;
    background-color: var(--lightgray);
}

.header {
    position: absolute;
    width: 100%;
    padding: 0.6em 6.7em 0 6.7em;
    font-size: 1.04em;
    font-weight: 500;
    line-height: 180%;
    z-index: 1;
}

.header-name {
    /* padding-top: 0.4em; */
    font-family: 'Comfortaa';
    float: left;
}

.nav-buttons {
    font-family: 'Raleway';
    float: right;
    display: flex;
    flex-direction: row;
    gap: 2.7em;
}

.nav-item, .header-name, .buttons {
    color: var(--black);
    text-decoration: none;
    border-bottom: 0.13em solid transparent;
}

.active {
    border-bottom-color: var(--black);
}

.intro-box {
    margin: 0 0 8em 6.9em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resume-page {
    padding: 5.3em 6.6em 0 0;
    margin-bottom: 8em;
}

.intro.short-intro, .profile-photo.small-photo {
    flex-basis: 44%;
    flex-grow: 1;
    flex-shrink: 1;
}

.intro.main-intro {
    flex-basis: 56%;
    flex-grow: 1;
    flex-shrink: 1;
}

.profile-photo.big-photo {
    flex-basis: 54%;
    flex-grow: 1;
    flex-shrink: 1;
}

.photo {
    display: block;
    width: 100%;
    height: 100%;
}

.vacancy {
    font-family: 'Nunito';
    font-size: 1.17em;
    font-weight: 600;
    color: var(--yellow);
}

.content { 
    margin: 0.66em 0;
    font-size: 1.04em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.78em;
}

.short-content {
    flex-basis: 45%;
    padding-right: 6.3em;
}

.main-content {
    flex-basis: 55%;
    padding-right: 4.3em;
}

h1 {
    font-size: 4.4vw;
    line-height: 120%;
    text-align: justify;
}

h2 {
    font-size: 2.66em;
    font-weight: 600;
    line-height: 1.45em;
}

.content p {
    font-family: 'Nunito';
    font-size: 1.35em;
    font-weight: 300;
    line-height: 150%;
    color: var(--grey);
}

.buttons {
    font-family: 'Roboto';
    font-size: 1em;
    line-height: 150%;
    padding: 0.4em 1.3em 0.4em 1.3em;
    border: solid;
    /* font-weight: 400; */
    /* border-style: solid;
    border-width: thin;
    text-decoration: none; */
}

.btn-primary, .btn-secondary {
    border-radius: 0.4em;
    margin-right: 0.45em;
}

.btn-primary {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.btn-secondary {
    background-color: transparent;
    border-color: var(--black);
}

.intro-box::after {
    content: "";
    clear: both;
    display: table;
}
.title {
    padding-top: 0.2em;
}

.line {
    height: 0.25rem;
    width: 59%;
    border-radius: 0.2em;
    margin: 0.3em auto;
    background: var(--yellow);
}

#projects {
    margin: 0 auto 8em auto;
    width: 68.8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.6em;
}

.project-info {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1.3em;
    box-shadow: 0 0 1em 0 var(--blue-grey);
}

.project-image {
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 1;
}

.project-details {
    padding-left: 2.8em;
    padding-right: 2.2em;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 1;
}

.project-name {
    font-size: 2.3em;
    font-weight: 600;
}

.project-description {
    font-family: 'Nunito';
    font-size: 1.05em;
    font-weight: 300;
    line-height: 150%;
    color: var(--grey);
    margin: 1.5em 0 1.3em 0;
}

.btn-view-project {
    border-radius: 1.4em;
    padding: 0.5em 1.5em;
    background-color: transparent;
    /* border-style: solid;
    border-width: thin; */
    border-color: var(--black);
}

.project-screen-right {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 1.3em;
    border-top-right-radius: 1.3em;
}

.project-screen-left {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 1.3em;
    border-top-left-radius: 1.3em;
}

.footer {
    text-align: center;
    font-family: 'Nunito';
}

#contacts {
    font-size: 2.3em;
    color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.3em; 
}

.footer p {
    font-size: 0.9rem;
    margin: 1.77em 0 5em 0;
    color: var(--grey)
} 

.bi-linkedin::before,
.bi-github::before {
    color: black;
}

button:hover {
    cursor: pointer;
}

.nav-item:hover {
    border-bottom-color: var(--yellow);
}

.nav-item.default:hover {
    border-bottom-color: var(--black);
}