*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --lightgray: #F9FAFF;
    --yellow: #FDC435;
    --white: #FFFFFF;
    --grey: #828282;
    --black: black;
    --blue-grey: #deebf7;
    --transparent-grey: rgb(255, 255, 255, 0.4);
    --transparent-yellow: rgba(252, 196, 54, 0.4);
}

html, body {
    font-family: 'Playfair Display', 'Arial', 'sans-serif';
    font-size: 1.2vw;
    width: 100%;
    /* height: 100%; */
    background-color: var(--lightgray);
}

.header {
    position: absolute;
    width: 100%;
    padding: 0.6em 6.2em 0 6.66em;
    font-size: 1.04em;
    z-index: 1;
}

.header p {
    padding-top: 0.4em;
    font-family: 'Comfortaa';
    float: left;
}

.nav-buttons {
    font-family: 'Raleway';
    float: right;
    display: flex;
    flex-direction: row;
    gap: 1.7em;

}

.nav-buttons a {
    padding: 0.4em 0.5em;
    color: var(--black);
    text-decoration: none;
}

.intro {
    position: relative;
    margin-left: 6.95em;
    margin-bottom: 8.05em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-basis: 629px; */
}

.about {
    flex-basis: 45%;
    flex-grow: 1;
    flex-shrink: 1;
}

.profile-photo {
    flex-basis: 55%;
    flex-grow: 1;
    flex-shrink: 1;
}

.photo {
    width: 100%;
}

.vacature {
    font-family: 'Nunito';
    font-size: 1.17em;
    padding-top: 5.4em;
    margin-bottom: 0.66em;
    font-weight: 600;
    color: var(--yellow);
}

.details { 
    padding-right: 6.4em;
    font-size: 1.05em;
}

h1 {
    font-size: 4.4vw;
    line-height: 122%;
    text-align: justify;
}

.details p {
    font-family: 'Nunito';
    padding: 1.3em 0 1.3em 0;
    font-size: 1.35em;
    font-weight: 300;
    line-height: 1.45em;
    color: var(--grey);
}

button {
    font-family: 'Roboto';
    font-size: 1.05em;
    padding: 0.5em 1.2em 0.5em 1.2em;
    font-weight: 400;
    border-style: solid;
}

#btn-projects, #btn-media {
    border-radius: 0.4em;
    margin-right: 0.45em;
}

#btn-projects {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

#btn-media {
    background-color: transparent;
    border-color: var(--black);
    border-width: initial;
}

.intro::after {
    content: "";
    clear: both;
    display: table;
}

h2 {
    margin: auto;
    width: fit-content;
    font-size: 2.78em;
    font-weight: 700;
}

.line {
    height: 0.2rem;
    width: 5.8em;
    border-radius: 0.2em;
    margin: 0.5em auto;
    background: var(--yellow);
}

.projects {
    margin: 4.5em auto 8em auto;
    width: 68.8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.8em;
}

.project-info {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1.3em;
    box-shadow: 0 0 1em 0 var(--blue-grey);
}

.project-image {
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 1;
}

.project-details {
    padding-left: 2.8em;
    padding-right: 2.2em;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 1;
}

.project-name {
    font-size: 2.3em;
    font-weight: 600;
}

.project-description {
    font-family: 'Nunito';
    font-size: 1.05em;
    font-weight: 300;
    line-height: 150%;
    color: var(--grey);
    margin: 1.5em 0 1.3em 0;
}

.btn-view-project {
    border-radius: 1.4em;
    background-color: transparent;
    border-style: solid;
    border-width: thin;
    border-color: var(--black);
}

.project-screen-right {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 1.3em;
    border-top-right-radius: 1.3em;
}

.project-screen-left {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 1.3em;
    border-top-left-radius: 1.3em;
}

.footer {
    text-align: center;
}

#contacts {
    font-size: 2.3em;
    color: var(--black);
}

/* .introMe {
    position: relative;
    padding: 6em 3.8em 5em 6.6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4.9em
}

.facts-aboutMe {
    flex-basis: 55%;
    flex-grow: 1;
    flex-shrink: 1;
}

.my-photo {
    flex-basis: 45%;
    flex-grow: 1;
    flex-shrink: 1;
}

.myPhoto {
    width: 100%;
} */

.footer p {
    font-family: 'Nunito';
    font-size: 0.9rem;
    margin: 2em 0 5em 0;
    color: var(--grey)
} 

.bi-linkedin::before {
    color: black;
}

button:hover {
    cursor: pointer;
}

.btn-view-project:hover, 
#btn-media:hover, 
#btn-projects:hover {
    background-color: var(--transparent-yellow);
}

.header a:hover {
    border-radius: 0.3em;
    background-color: var(--transparent-grey);
}