*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --lightgray: #F9FAFF;
    --yellow: #FDC435;
    --white: #FFFFFF;
    --grey: #828282;
    --black: black;
    --blue-grey: #deebf7;
}

html, body {
    font-family: 'Playfair Display', 'Arial', 'sans-serif';
    font-size: 1.2vw;
    width: 100%;
    /* height: 100%; */
    background-color: var(--lightgray);
}

.header {
    position: absolute;
    width: 100%;
    display: inline;
    padding: 1em 6.7em 3.3em 6.66em;
    font-size: 1.04em;
    z-index: 1;
}

.header p {
    font-family: 'Comfortaa';
    float: left;
}

.nav-buttons {
    font-family: 'Raleway';
    float: right;
}

.nav-buttons a {
    margin-left: 2.53em;
    color: var(--black);
    text-decoration: none;
}

.intro {
    position: relative;
    margin-left: 6.95em;
    margin-bottom: 8.05em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-basis: 629px; */
}

.about {
    flex-basis: 45%;
    flex-grow: 1;
    flex-shrink: 1;
}

.profile-photo {
    flex-basis: 55%;
    flex-grow: 1;
    flex-shrink: 1;
}

.photo {
    width: 100%;
    /* flex-basis: 629px; */
}

.vacature {
    font-family: 'Nunito';
    font-size: 1.17em;
    padding-top: 5.4em;
    margin-bottom: 0.66em;
    font-weight: 600;
    color: var(--yellow);
}

.details { 
    padding-right: 6.4em;
    font-size: 1.05em;
}

h1 {
    font-size: 4.4vw;
    line-height: 122%;
    text-align: justify;
}

.details p {
    font-family: 'Nunito';
    padding: 1.3em 0 1.3em 0;
    font-size: 1.35em;
    font-weight: 300;
    line-height: 1.45em;
    color: var(--grey);
}

button {
    font-family: 'Roboto';
    font-size: 1.05em;
    padding: 0.5em 1.2em 0.5em 1.2em;
    font-weight: 400;
    border-style: solid;
    /* border-width: thin; */
}

#btn-projects, #btn-media {
    border-radius: 0.4em;
    margin-right: 0.45em;
}

#btn-projects {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

#btn-media {
    background-color: transparent;
    border-color: var(--black);
    border-width: initial;
}

.intro::after {
    content: "";
    clear: both;
    display: table;
}

h2 {
    margin: auto;
    width: fit-content;
    font-size: 2.78em;
    font-weight: 700;
}

.line {
    height: 0.2rem;
    width: 5.8em;
    border-radius: 0.2em;
    margin: 0.5em auto;
    background: var(--yellow);
}

.projects {
    margin: 4.5em auto 8em auto;
    width: 68.8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.5em;
}

.shadow {
    box-shadow: 0 0 0.4em 0 var(--lightgray);
    width: 55.1em;
    height: 29.1em;
}

.project-info {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1.3em;
    box-shadow: 0 0 1em 0 var(--blue-grey);
}

.project-image {
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 1;
}

.project-details {
    padding-left: 2.8em;
    padding-right: 3em;
    /* padding: 1.3em 3em 0.5em 2.8em; */
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 1;
}

.project-name {
    font-size: 2.3em;
    font-weight: 600;
    /* margin-bottom: 0.7em; */
}

.project-description {
    font-family: 'Nunito';
    font-size: 1.05em;
    font-weight: 300;
    line-height: 150%;
    color: var(--grey);
    margin: 1.5em 0 1.3em 0;
}

.btn-view-project {
    /* margin: 1em 0 1em 0; */
    border-radius: 1.4em;
    background-color: transparent;
    border-style: solid;
    border-width: thin;
    border-color: var(--black);
}

.project-screen-right {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 1.3em;
    border-top-right-radius: 1.3em;
}

.project-screen-left {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 1.3em;
    border-top-left-radius: 1.3em;
}

.footer {
    position: relative;
    text-align: center;
}

.icons {
    position: absolute;
    font-size: 2em;
    color: var(--black);
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer p {
    font-family: 'Nunito';
    font-size: 0.9rem;
    margin-top: 2em;
    color: var(--grey)
} 

.footer-picture {
    width: 100%;
    height: 100%;
}

.bi-linkedin::before {
    color: black;
}

@media only screen and (max-width: 768px) {
    /* body, html {
        font-size: 10px;
        width: 100%;
    } */

    /* .projects {
        margin: 10px auto 10px auto;
    }

    .project-info {
        flex-shrink: 2;
    }

    .project-name {
        font-size: medium;
        font-weight: bold;
    }

    .top-navigation, button, .details p, 
    .vacature, .btn-view-project {
        font-size: smaller;
    } */
}