*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', 'Arial', 'sans-serif';
}

:root {
    --lightgray: #F9FAFF;
    --yellow: #FDC435;
    --white: white;
    --grey: #828282;
    --black: black;
}

html, body {
    width: 100%;
    background-color: var(--lightgray);
    /* box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1); */
}

.top-navigation {
    position: absolute;
    width: 100%;
    display: inline;
    padding: 15px 90px 5px 130px;
    /* font-family: 'Comfortaa'; */
    font-size: 18px;
    font-weight: normal;
    z-index: 1;
}

.top-navigation p {
    font-family: 'Comfortaa';
    float: left;
}

.nav-buttons {
    float: right;
}

.nav-buttons a {
    font-family: 'Comfortaa';
    margin-right: 40px;
    color: var(--black);
    font-weight: normal;
}

.intro {
    position: relative;
    margin-left: 130px;
}

.photo {
    float: right;
    width: 50%;
    z-index: 0;
}

.vacature {
    font-family: 'Nunito';
    padding-top: 110px;
    /* padding-left: 135px; */
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--yellow);
}

.details { 
    max-width: 480px;
}

h1 {
    font-size: 62px;
    /* font-weight: bold; */
}

.details p {
    font-family: 'Nunito';
    padding: 30px 0 30px 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    color: var(--grey);
}

button {
    font-family: 'Roboto';
    padding: 7px 15px 7px 15px;
    font-size: 18px;
    font-weight: 400;
}

#btn-projects, #btn-media {
    border-radius: 7px;
    margin-right: 10px;
}

#btn-projects {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

#btn-media {
    background-color: var(--lightgray);
}

.intro::after {
    content: "";
    clear: both;
    display: table;
}

h2 {
    margin: auto;
    border-bottom: 3px solid var(--yellow);
    width: fit-content;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.projects {
    margin: 30px auto 80px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

}

.project-info {
    background-color: var(--white);
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 6px 6px 20px 0.1px;
}

.project-image {
    flex-shrink: 1;
    flex-basis: 50%;
    flex-grow: 1;
}

.project-details {
    padding: 50px 10px 50px 10px;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 1;
}

.project-name {
    font-size: 40px;
    margin-bottom: 20px;
}

.project-description {
    color: var(--grey);
}

.btn-view-project {
    margin-top: 15px;
    border-radius: 20px;
    background-color: var(--white);
}

.project-screen-right {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.project-screen-left {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.project-photo {
    width: 50%;
}

footer {
    position: relative;
    text-align: center;
}

.icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: var(--grey); */
}

footer p {
    margin-top: 10px;
    color: var(--grey)
} 

.footer-picture {
    max-height: 10%;
    width: 100%;
    /* position: absolute; */
    z-index: -100;
}

@media only screen and (max-width:767px) {
    body, html {
        font-size: x-small;
        height: 100%;
    }

    .projects {
        margin: 10px auto 10px auto;
    }

    .project-info {
        flex-shrink: 2;
    }

    .project-name {
        font-size: medium;
        font-weight: bold;
    }

    .top-navigation, button, .details p, 
    .vacature, .btn-view-project {
        font-size: smaller;
    }
}