body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;    
}

/****** main content styles ******/
.main-content {
    background-color: #F5F7FA;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 90px 90px 100px 90px;
}

/* about me styles */
.about {
    margin-bottom: 40px;
    
}

.about h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

/* experience styles */

.experience {
    margin-bottom: 50px;
}

/* projects, work and education title styles */
.experience h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}


/* styles for ordered and unordered lists */

.experience ol, .experience ul {
    padding: 0;
    margin-left: 15px;
}

.experience ul {
    list-style: square;
}

.experience li {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding-left: 10px;
}

.experience span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.experience h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.experience h4 span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.experience h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px;
}

.experience p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.experience p span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}


/****** sidebar styles ******/
.sidebar {
    background-color: #1E2939;
    padding-top: 150px;
    width: 370px;
}

/* aside content styles */
.sidebar-content {
    margin-left: 40px;
    margin-bottom: 45px;
}

/* Sidebar title styles*/
.sidebar-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

/* Contacts styles */
.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.contact-details {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ECE9E9;
    padding: 0;
    margin: 0;
}

/* Tech and Soft skills styles for tag ul */
.skills-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}

/* Tech and Soft skills styles for tag li */
.skills-list li {
    color: #FB6D3A;
}

/* Tech and Soft skills styles for tag span */
.skills-list span {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

@media print {
    .main {
        width: 1000px;
    }

    .main-content {
        padding-left: 70px;
        padding-right: 70px;
        box-shadow: inherit;
    }

    .sidebar {
        width: 270px;
    }
}

@media only screen and (max-width:700px) {
    /* main styles */
        .main {
            display: block;
            width: 100%;
        }
        
        .main-content {
            background-color: #F5F7FA;
            padding: 15px 10px 15px 10px;
        }

        .sidebar {
            background-color: #1E2939;
            padding-top: 50px;
            padding-bottom: 100px;
            width: 100%;
        }


}